/* General Page and Layout */
.page-container {
  background-color: #e9ebf0;
  overflow-x: hidden; /* Prevent horizontal scroll */
  padding: 0; /* Optional: Add some padding to the sides if needed */
}

.header {
  background-color: #1265b7;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  position: relative;
  z-index: 1; /* Ensure the header stays below the form */
  height: 150px; /* Adjusted header height */
  width:100%; /* Ensure the header takes full width */
  box-sizing: border-box; /* Include padding and border in element's total width */
}

.header-title {
  flex: 1;
  text-align: top;
}

.logo {
  max-width: 450px; /* Adjusted logo size */
  font-size: 20px;
  font-weight: bold;
}

.header-links,
.login-link {
  font-size: 20px;
  color: white;
  text-decoration: none;
  font-weight: bold;
  margin-left: 10px;
}

.login-links { /* New class for login links */
  margin-left: 20px; /* Adjust this value to move the links left */
}

.form-container {
  max-width: 1000px;
  margin: -50px auto 40px; /* Adjust negative margin to overlap the header */
  padding: 50px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
  position: relative;
  z-index: 2; /* Form will appear above the header */
  width: calc(100% - 20px); /* Full width minus padding */
  box-sizing: border-box; /* Include padding in width */
}

h2 {
  font-family: Arial, sans-serif;
  color: #003366;
  margin-bottom: 20px;
  text-align: center;
}

h3 {
  color: #000000;
  font-size: 18px;
  margin: 30px 0 10px;
  margin-top: 1px;
}

/* Form Field Styling */
mat-form-field {
  width: 100%;
  margin-bottom: 20px;
}

.form-group {
  display: flex;
  justify-content: space-between;
  gap: 4%;
}

.half-width {
  width: 48%;
}

.full-width {
  width: 100%;
}

mat-error {
  font-size: 12px;
  color: #c80000;
}

/* Set input text color to black */
mat-form-field input,
mat-form-field select,
mat-form-field .mat-select {
  color: rgb(42, 41, 41) !important;
}

mat-form-field .mat-label,
mat-form-field .mat-hint {
  color: rgb(41, 39, 39);
}

/* Keep input and select text black on focus */
mat-form-field input:focus,
mat-form-field select:focus,
mat-form-field .mat-select:focus {
  color: rgb(29, 29, 29) !important;
}

/* Ensure the selected option text color is black */
.mat-select-value {
  color: rgb(42, 41, 41) !important;
}

/* Set color for disabled input */
mat-form-field input[disabled],
mat-form-field select[disabled],
mat-form-field .mat-select[disabled] {
  color: rgb(29, 28, 28);
}

/* Button */
.submit-btn {
  display: block;
  width: 100%;
  padding: 10px;
  font-size: 16px;
  background-color: #0066cc;
  color: white;
  cursor: pointer;
}

.submit-btn:hover {
  background-color: #0052a3;
}

/* Password Criteria */
.password-criteria {
  list-style: none;
  padding: 0;
  margin: 10px 0 20px;
  font-size: 12px;
}

.password-criteria li {
  margin: 5px 0;
}

.password-criteria li.invalid {
  color: red;
}

.password-criteria li.valid {
  color: rgb(3, 155, 14);
}

/* Responsiveness */
@media (max-width: 768px) {
  .header {
    padding: 20px;
    flex-direction: column;
    height: auto; /* Allow header to resize based on content */
    align-items: center; /* Align items to start */
  }

  .logo {
    max-width: 400px; /* Adjusted logo size */
  }

  .header-links {
    font-size: 16px;
    margin-left: 0; /* Remove left margin to center align */
  }

  .form-container {
    padding: 20px;
    width: calc(100% - 20px); /* Full width minus padding */
    margin: -12px auto 20px; /* Adjust negative margin to overlap the header */
  }

  .form-group {
    flex-direction: column;
    gap: 0;
  }

  .half-width {
    width: 100%;
  }

  .submit-btn {
    font-size: 14px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .header {
    flex-direction: row;
    justify-content: space-around;
    padding: 30px;
  }

  .header-title {
    margin: 0 15px;
  }

  .header-links {
    font-size: 18px;
    margin-left: 10px;
  }
}

@media (max-width: 480px) {
  .header {
    align-items: center;
  }

  .form-container {
    margin: -12px auto 20px; /* Adjust negative margin to overlap the header */
    width: 98%;
      padding: 15px;
    }
  }

  .header-links,
  .login-link {
    font-size: 15px;
  }

  .logo {
    max-width: 400px; /* Adjusted logo size for smaller screens */
  }

  .header-links {
    font-size: 14px;
  }

  .submit-btn {
    font-size: 12px;
  }

  h2 {
    font-size: 15px;
    font-weight: 100;
  }

  h3 {
    font-size: 16px;
  }

  .form-container {
    padding: 15px;
  }

